ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}
li{
    flex-basis: 25%;
    margin: 25px;
}
header{
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 50px;
}
header h1{
    flex-basis: 40%;
    margin: 25px;
}
footer{
    background-color: black;
    width: 100%;
    min-height: 50px;
}
table{
    text-align:center ;
}
section{
    margin: 25px;
}